div {
  width: 0;
  height: 0;
  border-width: 80px;
  border-style: solid solid solid solid;
  border-color: transparent #008000 transparent transparent;
}
div {
  width: 0;
  height: 0;
  border-width: 40px;
  border-style: solid solid solid solid;
  border-color: transparent transparent #ff0000 transparent;
}
